<!-- BEGIN #content -->
<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">
        {foreach $links as $link}
        <li class="breadcrumb-item"><a href="{$link['link']??"javascript:;"}">{$link['text']}</a></li>
        {/foreach}

    </ol>

    <h1 class="page-header">&nbsp;</small></h1>

    <!-- END breadcrumb -->
