<div class="error">
    <div class="error-code">404</div>
    <div class="error-content">
        <div class="error-message">Resource not available</div>
        <div class="error-desc mb-3 mb-sm-4 mb-md-5">
            The URL that you are looking for is not working, please report to the system administrator.
        </div>
        <div>
            <a href="/" class="btn btn-success p-l-20 p-r-20">Go Home</a>
        </div>
    </div>
</div>
